#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.search {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  background-color: #F0F8FF;

}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table thead tr {
  background-color: #229799;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #e6f7ff;

}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #229799;
}

.styled-table tbody tr:hover {
  background-color: #d1e7ff;
 
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #229799;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #229799;
}

.pagination button:hover:not(.active) {
  background-color: #229799;
}

.article-image {
  width: 90px;
  height: auto;
}
.favorites {
  margin-top: 20px;
}

.favorites h2 {
  color: #229799;
}

.favorites ul {
  list-style-type: none;
  padding: 0;
}

.favorites li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.favorites li div {
  margin-left: 10px;
}

a {
  color: #229799;
}